---
import { getSortedPosts } from '../../utils/getPosts.js';
import Layout from '../../layouts/blogLayout.astro';
import Topbar from '../../components/topbar.astro';
import BlogImage from '../../components/blog-image.astro';
import Search from "../../components/Search.astro";
import BlogPostCard from '../../components/blog-post-card.astro';
import BlogLine from '../../components/blog-line.astro';
import Pagination from '../../components/pagination.astro';

export async function getStaticPaths({ paginate }) {
  const allSortedPosts = await getSortedPosts();
    
  // ページネーション実行
  const paginatedResult = paginate(allSortedPosts, { pageSize: 5 });
  return paginatedResult;
}

const { page } = Astro.props;

// OGP用
const ogTitle = "blog";
const ogDescription = "書く、これしか出来ないから";
const ogUrl = new URL(Astro.url.pathname, Astro.site).toString();

// 記事データ用
import getPostMetadata from '../../utils/postMetadata'
---
<Layout 
  pageTitle="blog" 
  ogTitle={ogTitle} 
  ogDescription={ogDescription} 
  ogUrl={ogUrl}
>
  <Topbar />
  <div class="blog-header">
    <BlogImage />
    <Search />
  </div>
  <main>
    <div class="blog-content">
      {page && page.data ? (
        <>
        {page.data.map((post) => {
          const { title, date, tags, slug, excerpt } = getPostMetadata(post);
  
          return (
            <BlogPostCard 
              slug={slug}
              title={title}
              tags={tags}
              date={date}
              excerpt={excerpt}
            />
          );
        })}
      </>
      ) : (
        <div style="text-align: center; padding: 2rem;">
          <p>現在、表示できる投稿がありません</p>
        </div>
      )}
    </div>
    <BlogLine />
    <Pagination page={page} />
  </main>
</Layout>

<style>
  .blog-header {
    padding: 90px 0 0;
  }
  .blog-content {
    margin: 0 auto;
    width: 70%;
  }
  @media (max-width: 767px) {
    .blog-content{
      width: 90%;
    }
  }
</style>