---
import { render } from 'astro:content';
import Layout from '../../layouts/blogLayout.astro';
import Topbar from '../../components/topbar.astro';
import BlogImage from '../../components/blog-image.astro';
import BlogLine from '../../components/blog-line.astro';
import { Image } from 'astro:assets';
import backIcon from '../../assets/images/back.svg';
import '../../styles/remark-link-card.css';
import { getSortedPosts } from '../../utils/getPosts.js';
import getPostMetadata from '../../utils/postMetadata.js';
import { generateExcerpt } from '../../utils/generateExcerpt.js';

export async function getStaticPaths() {
  const posts = await getSortedPosts();

  return posts.map((post) => {
    const { slug } = getPostMetadata(post);

    return {
      params: { slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;

// 記事データ用
const {title, date, tags } = getPostMetadata(post);

const { Content } = await render(post);

const ogTitle = title;
const ogUrl = new URL(Astro.url.pathname, Astro.site).toString();
const ogDescription = generateExcerpt(post, 30);
---
<Layout
  pageTitle={title}
  ogTitle={ogTitle}
  ogDescription={ogDescription}
  ogUrl={ogUrl}
>
  <Topbar />
  <div class="blog-header">
    <BlogImage />
  </div>
  <article
    class="blog-post"
    data-pagefind-body
    data-pagefind-meta={`date:${date}`}
    data-pagefind-sort={`date:${date}`}
  >
    <h2>{title}</h2>
    <div class="meta">
      <p>投稿日: {date}</p>
      <p>
        タグ:
        {tags.map((tag, tagIndex) => (
          <span>
            <a href={`/blog/tag/${encodeURIComponent(tag)}`}>
              <span style="color: #ff7f7e;">#</span>
              <span data-pagefind-filter="tag">{tag}</span>
            </a>
            {tagIndex < tags.length - 1 && ', '}
          </span>
        ))}
      </p>
    </div>

    <div class="blog-tag-line"></div>

    <div class="content prose">
      <Content />
    </div>
  </article>

  <BlogLine />

  <button class="top-button-container">
    <div class="circle-button">
      <Image src={backIcon} alt="" />
    </div>
    <span class="top-text">Top</span>
  </button>

  <div style="height: 80px;"></div>

  <style is:global>
    @font-face {
      font-family: 'JetBrainsMono';
      src: url('/JetBrainsMono-Light.woff2') format('woff2');
      font-display: swap;
    }
    .blog-header {
      padding: 90px 0 0;
    }
    .blog-post {
      width: 70%;
      margin: 0 auto;
    }
    @media (max-width: 767px) {
      .blog-post {
        width: 90%;
      }
    }
    .blog-post > h2 {
      margin: .5rem 0 0;
      color: var(--bg-gyaku);
      text-align: center;
    }
    .meta {
      font-size: 0.9rem;
      text-align: center;
      color: var(--meta);
    }
    .meta p{
      margin: .5rem 0 0;
    }
    .meta p span a {
      position: relative;
      color: var(--meta);
      text-decoration: none;
      transition: all 0.3s ease;
    }
    .meta p span a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--meta);
       transform: scaleY(0.5);
      transform-origin: bottom;
      transition: width 0.3s ease;
    }
    .meta p span a:hover::before {
      width: 100%;
    }

    .blog-tag-line {
      width: 100%;
      height: 1px;
      background-color: var(--border);
      margin: 30px auto;
    }
    .content {
      margin-bottom: 32px;
      line-height: 1.5;
    }
    @media (max-width: 480px) {
      .content {
        font-size: 14px;
      }
      .expressive-code * {
        font-size: 13px !important;
      }
    }
    /* 記事本文内の装飾 */
    .ff7f7e {
      color: #ff7f7e; /* 使うときは<span class="ff7f7e"> */
    }
    .footnotes {
      margin-top: 32px;
      border-top: 1px dashed #888;
    }
    /* 勝手に出てくる装飾を無効化 */
    .footnotes h2, #footnote-label {
      display: none;
    }
    .footnotes ol {
      margin: 32px 0; /* .contentについているmargin-bottomと合わせる */
    }
    .prose a.blog-link {
      color: var(--text);
      text-decoration-color: var(--text);
    }
    .prose img {
      display: block;
      width: 90%;
      margin: 5px auto;
    }
    /* 見出しの装飾 */
    .prose .toc-heading {
      display: none;
    }
    .prose details {
      padding: 10px 20px;
      border: 1px solid var(--border);
      border-radius: 8px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      cursor: pointer;
    }
    details {
      /* 中身のスタイル */
      &::details-content {
        transition:
          height 0.2s linear,
          opacity 0.2s linear,
          content-visibility 0.2s linear allow-discrete;
        height: 0;
        opacity: 0;
        overflow: clip;
      }
      /* 中身（開いている時）*/
      &[open]::details-content {
        opacity: 1;
      }
    }
    @supports (interpolate-size: allow-keywords) {
      :root {
        interpolate-size: allow-keywords; /* height:0（数値型） → auto（文字型） のアニメーションを可能にするための指定 */
      }
      details[open]::details-content {
        height: auto;
      }
    }
    /* height:0→autoへのアニメーションが対応していない場合 */
    @supports not (interpolate-size: allow-keywords) {
      details {
        transition: none;
      }
    }
    .prose details a {
      color: var(--link);
    }
    .prose h3, .prose h4 {
      position: relative;
      width: fit-content;
      margin: .7rem 0;
    }
    .prose h3 {
      font-size: 1.2rem;
      font-weight: 700;
      padding: 0 .5rem 0 1.2rem;
      border-bottom: 2px solid #ff7f7e;
    }
    .prose h3::before {
      content: '#';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #ff7f7e;
    }
    .prose h4 {
      font-size: 1rem;
      font-weight: 600;
      padding: 0 .5rem 0 1rem;
    }
    .prose h4::before {
      content: '・';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #ff7f7e;
    }
    .prose .remark-link-card-plus__container img {
      display: initial;
      width: initial;
      margin: initial;
    }
    .prose sup a {
      color: #6088C6;
      text-decoration: none;
    }
    .prose sup a:visited {
      color: #6088C6;
    }
    .prose sup a:hover,
    .prose sup a:focus {
      color: #6088C6;
      text-decoration: none;
    }
    .prose a.data-footnote-backref {
      color: #6088C6;
      text-decoration: none;
    }
    .prose a.data-footnote-backref:visited {
      color: #6088C6;
    }
    .prose a.data-footnote-backref:hover,
    .prose a.data-footnote-backref:focus {
      color: #6088C6;
      text-decoration: none;
    }
    /* 引用部分の装飾 */
    .prose blockquote {
      padding: 10px 15px;
      margin: 10px 0;
      box-sizing: border-box;
      border-left: 4px solid #ff7f7e;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
    }
    .prose blockquote p {
      margin: 0;
      padding: 0;
    }
    .prose p {
      margin: 0;
      padding: 0;
    }
    .prose .footnotes h2 {
      display: none;
    }
    .prose code:not(pre code) {
      background-color: #ccc;
      padding: 0.15rem 0.4rem;
      border-radius: 3px;
      font-size: .8em;
      font-family: "JetBrainsMono", sans-serif;
    }
    :root[data-theme="dark"] .prose code:not(pre code) {
      background-color: #484848;
    }
    .expressive-code { /* 「```」で囲まれたコードの上下にスペースを追加 */
      margin: 1.2rem 0;
      font-size: .8em;
    }
    .expressive-code .frame .header .title::after {
      border-top: 1.5px solid #ff7f7e !important;
    }
    .expressive-code .frame .header {
      background: #1e2124 !important;
    }
    .expressive-code {
      /* コードブロックの背景色 */
      --ec-frm-edBg: #24292e !important;
      --ec-frm-edActTabBg: #24292e !important;
    }

    /* 個別の記事のTopへボタン */
    .top-button-container {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 15%;
      width: fit-content;
      color: var(--accent);
      font-family: 'mamelon3.5', sans-serif;
      text-decoration: none;
      border: none;
      background: transparent;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    .top-button-container::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0px;
      height: 1px;
      background-color: var(--accent);
      transition: width 0.3s ease-in-out;
    }
    .top-button-container:hover::before {
      width: 100%;
    }
    .circle-button {
      position: relative;
      width: 20px;
      height: 20px;
      background-color: var(--accent);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
    .circle-button img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      object-fit: contain;
      overflow: hidden;
    }
    .top-button-container:hover .circle-button img {
      animation: arrowAnimation 0.9s ease-in-out infinite;
    }
    @keyframes arrowAnimation {
      0% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
      }
      20% {
        transform: translate(-50%, -50%) translateX(-150%);
        opacity: 0;
      }
      40% {
        transform: translate(-50%, -50%) translateX(150%);
        opacity: 0;
      }
      66% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
      }
      100% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
      }
    }
    .top-text {
      font-size: 18px;
      font-weight: bold;
    }
    @media (max-width: 767px) {
      .top-button-container {
        margin-left: 5%;
      }
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const referrer = document.referrer;
      if (referrer && referrer.includes('/blog/') && referrer !== window.location.href) {
        sessionStorage.setItem('lastListPage', referrer);
      }
      // クリック時の設定
      document.querySelector('.top-button-container').addEventListener('click', function(e) {
        const lastPage = sessionStorage.getItem('lastListPage');
        if (lastPage && lastPage !== window.location.href) {
          window.location.href = lastPage;
        } else {
          // 外部からの人は1ページ目へ
          window.location.href = '/blog/';
        }
      });
    });
  </script>
</Layout>