---
import { render } from 'astro:content';
import Layout from '../../layouts/blogLayout.astro';
import Topbar from '../../components/topbar.astro';
import BlogImage from '../../components/blog-image.astro';
import BlogLine from '../../components/blog-line.astro';
import { Image } from 'astro:assets';
import backIcon from '../../assets/images/back.svg';
import '../../styles/remark-link-card.css';
import { getSortedPosts } from '../../utils/getPosts.js';
import getPostMetadata from '../../utils/postMetadata.js';
import { generateExcerpt } from '../../utils/generateExcerpt.js';

import '../../styles/article.css';

export async function getStaticPaths() {
  const posts = await getSortedPosts();

  return posts.map((post) => {
    const { slug } = getPostMetadata(post);

    return {
      params: { slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;

// 記事データ用
const {title, date, tags } = getPostMetadata(post);

const { Content } = await render(post);

const ogTitle = title;
const ogUrl = new URL(Astro.url.pathname, Astro.site).toString();
const ogDescription = generateExcerpt(post, 30);
---
<Layout
  pageTitle={title}
  ogTitle={ogTitle}
  ogDescription={ogDescription}
  ogUrl={ogUrl}
>
  <Topbar />
  <div class="blog-header">
    <BlogImage />
  </div>
  <article
    class="blog-post"
    data-pagefind-body
    data-pagefind-meta={`date:${date}`}
    data-pagefind-sort={`date:${date}`}
  >
    <h2>{title}</h2>
    <div class="meta">
      <p>投稿日: {date}</p>
      <p>
        タグ:
        {tags.map((tag, tagIndex) => (
          <span>
            <a href={`/blog/tag/${encodeURIComponent(tag)}`}>
              <span style="color: #ff7f7e;">#</span>
              <span data-pagefind-filter="tag">{tag}</span>
            </a>
            {tagIndex < tags.length - 1 && ', '}
          </span>
        ))}
      </p>
    </div>

    <div class="blog-tag-line"></div>

    <div class="content prose">
      <Content />
    </div>
  </article>

  <BlogLine />

  <button class="top-button-container">
    <div class="circle-button">
      <Image src={backIcon} alt="" />
    </div>
    <span class="top-text">Top</span>
  </button>

  <div style="height: 80px;"></div>

  <style is:global>
    .blog-header {
      padding: 90px 0 0;
    }
    .blog-post {
      width: 70%;
      margin: 0 auto;
    }
    @media (max-width: 767px) {
      .blog-post {
        width: 90%;
      }
    }
    .blog-post > h2 {
      margin: .5rem 0 0;
      color: var(--bg-gyaku);
      text-align: center;
    }
    .meta {
      font-size: 0.9rem;
      text-align: center;
      color: var(--meta);
    }
    .meta p{
      margin: .5rem 0 0;
    }
    .meta p span a {
      position: relative;
      color: var(--meta);
      text-decoration: none;
      transition: all 0.3s ease;
    }
    .meta p span a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--meta);
       transform: scaleY(0.5);
      transform-origin: bottom;
      transition: width 0.3s ease;
    }
    .meta p span a:hover::before {
      width: 100%;
    }

    .blog-tag-line {
      width: 100%;
      height: 1px;
      background-color: var(--border);
      margin: 30px auto;
    }
    .content {
      margin-bottom: 32px;
      line-height: 1.5;
    }
    @media (max-width: 480px) {
      .content {
        font-size: 14px;
      }
      .expressive-code * {
        font-size: 13px !important;
      }
    }

    .footnotes {
      margin-top: 32px;
      border-top: 1px dashed #888;
    }
    /* 勝手に出てくる装飾を無効化 */
    .footnotes h2, #footnote-label {
      display: none;
    }
    .footnotes ol {
      margin: 32px 0; /* .contentについているmargin-bottomと合わせる */
    }

    /* 個別の記事のTopへボタン */
    .top-button-container {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 15%;
      width: fit-content;
      color: var(--accent);
      font-family: 'mamelon3.5', sans-serif;
      text-decoration: none;
      border: none;
      background: transparent;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    .top-button-container::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0px;
      height: 1px;
      background-color: var(--accent);
      transition: width 0.3s ease-in-out;
    }
    .top-button-container:hover::before {
      width: 100%;
    }
    .circle-button {
      position: relative;
      width: 20px;
      height: 20px;
      background-color: var(--accent);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
    .circle-button img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      object-fit: contain;
      overflow: hidden;
    }
    .top-button-container:hover .circle-button img {
      animation: arrowAnimation 0.9s ease-in-out infinite;
    }
    @keyframes arrowAnimation {
      0% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
      }
      20% {
        transform: translate(-50%, -50%) translateX(-150%);
        opacity: 0;
      }
      40% {
        transform: translate(-50%, -50%) translateX(150%);
        opacity: 0;
      }
      66% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
      }
      100% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
      }
    }
    .top-text {
      font-size: 18px;
      font-weight: bold;
    }
    @media (max-width: 767px) {
      .top-button-container {
        margin-left: 5%;
      }
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const referrer = document.referrer;
      if (referrer && referrer.includes('/blog/') && referrer !== window.location.href) {
        sessionStorage.setItem('lastListPage', referrer);
      }
      // クリック時の設定
      document.querySelector('.top-button-container').addEventListener('click', function(e) {
        const lastPage = sessionStorage.getItem('lastListPage');
        if (lastPage && lastPage !== window.location.href) {
          window.location.href = lastPage;
        } else {
          // 外部からの人は1ページ目へ
          window.location.href = '/blog/';
        }
      });
    });
  </script>
</Layout>