---
import type { GetStaticPathsOptions } from 'astro';
import { Image } from 'astro:assets';
import { getSortedPosts, getListedPosts, POSTS_PER_PAGE } from '../../../../utils/getPosts';
import Layout from '../../../../layouts/Layout.astro';
import Topbar from '../../../../components/topbar.astro';
import pankuzuIcon from '../../../../assets/images/pankuzu.svg';
import BlogImage from '../../../../components/blog-image.astro';
import BlogLine from '../../../../components/blog-line.astro';
import Search from "../../../../components/Search.astro";
import BlogPostCard from '../../../../components/blog-post-card.astro';
import Pagination from '../../../../components/pagination.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allSortedPosts = await getSortedPosts();
  const listedPosts = getListedPosts(allSortedPosts);

  // すべてのタグを収集
  const allTags = [...new Set(listedPosts.flatMap((post) => post.data.tags ?? []))];

  // 各タグごとにページを生成
  const paths = [];

  for (const tag of allTags) {
    // 現在のタグが含まれる投稿のみをフィルタリング
    const filteredPosts = listedPosts.filter(post =>
      post.data.tags?.includes(tag)
    );
    // ページネーション実行
    const paginatedPosts = paginate(filteredPosts, {
      params: { tag },
      pageSize: POSTS_PER_PAGE,
    });
    paths.push(...paginatedPosts);
  }
  return paths;
}

import type { BlogPostWithExcerpt } from '../../../../utils/type';
import type { Page } from 'astro';

interface Props {
  page: Page<BlogPostWithExcerpt>;
}
const { page } = Astro.props;
const { tag } = Astro.params;

// OGP用
const ogDescription = "書く、これしか出来ないから";
const ogUrl = new URL(Astro.url.pathname, Astro.site).toString();

// 記事データ用
import getPostMetadata from '../../../../utils/postMetadata'
---
<Layout
  pageTitle={`タグ: ${tag}`}
  ogDescription={ogDescription}
  ogUrl={ogUrl}
  isBlog
>
  <Topbar />
  <div class="blog-header">
    <BlogImage />
    <Search />
  </div>
  <main>
    <div class="tag-header">
      <div class="tag-header-breadcrumb">
        <a href="/blog">Top</a>
        <div
          class="tag-header-breadcrumb-separator"
          style={`--icon-url: url(${pankuzuIcon.src})`}
          role="img"
        />
        <a href={`/blog/tag/${encodeURIComponent(tag)}`}>{tag}</a>
      </div>
      <span class="tag-header-query">
        <span>WHERE</span>
        <span>tag</span>
        <span>=</span>
        <span class="tag-header-query-value">{tag}</span>
      </span>
    </div>

    <BlogLine
      pcSize={70}
      smSize={90}
      isNeedMargin={false}
    />

    <div class="blog-content">
      {page && page.data ? (
        <>
        {page.data.map((post) => {
          const { title, date, tags, slug, excerpt } = getPostMetadata(post);

          return (
            <BlogPostCard
              slug={slug}
              title={title}
              tags={tags}
              date={date}
              excerpt={excerpt}
            />
          );
        })}
      </>
      ) : (
        <div style="text-align: center; padding: 2rem;">
          <p>現在、表示できる投稿がありません</p>
        </div>
      )}
    </div>

    <BlogLine
      pcSize={70}
      smSize={90}
      isNeedMargin={false}
    />

    <Pagination page={page} />
  </main>
</Layout>

<style>
  .blog-header {
    padding-top: 8rem;
  }
  @media (max-width: 768px) {
    .blog-header {
      padding-top: 6rem;
    }
  }
  .tag-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    width: 70%;
  }
  @media (max-width: 768px) {
    .tag-header {
      width: 90%;
    }
  }
  .tag-header-breadcrumb {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
  }
  .tag-header-breadcrumb a {
    position: relative;
    color: var(--text);
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .tag-header-breadcrumb a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--text);
    transform: scaleY(0.5);
    transform-origin: bottom;
    transition: width 0.3s ease;
  }
  .tag-header-breadcrumb a:hover::before {
    width: 100%;
  }
  .tag-header-breadcrumb-separator {
    width: .8rem;
    height: .8rem;
    background-color: var(--text);
    mask-image: var(--icon-url);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    user-select: none;
  }
  .tag-header-query {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 1.1rem;
  }
  .tag-header-query-value {
    position: relative;
    padding: .15rem .5rem;
    background: rgb(from var(--accent) r g b / 0.1);
    color: var(--text);
    text-decoration: none;
    font-style: italic;
    border: 1px solid var(--accent);
  }
  .tag-header-query-value::before {
    content: '#';
    color: var(--accent);
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .blog-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    width: 70%;
  }
  @media (max-width: 768px) {
    .tag-head, .blog-content {
      width: 90%;
    }
  }
</style>