---
import Layout from '../layouts/Layout.astro';
import Topbar from '../components/topbar.astro';
import { Image } from 'astro:assets';
import createImage from '../assets/images/create.avif';

import { getCollection } from 'astro:content';
const allCreates = await getCollection('creates');

const sortedCreates = allCreates.sort((a, b) => {
  const dateA = a.data.published_date.getTime();
  const dateB = b.data.published_date.getTime();
  return dateB - dateA;
});

const ogUrl = new URL(Astro.url.pathname, Astro.site).href;
---

<Layout pageTitle="制作物" ogUrl={ogUrl} ogDescription="制作物の一覧">
  <Topbar />
  <div class="image-container">
    <Image src={createImage} alt="" />
  </div>
  <div class="content">
    <div class="content-header">
      <h2>ひとつひとつでいいからね</h2>
      <p>One step at a time.</p>
      <div class="content-header-scroll-icon-container">
        <div class="content-header-scroll-icon"></div>
      </div>
    </div>
    <div class="creates-container">
      <div class="creates-inner">
        <h2>制作物</h2>
        <p>つくったものなど</p>
      </div>
      <div class="creates-boxes-container">
        {sortedCreates.map((create) => (
          <a class="creates-box" href={create.data.url} target="_blank" rel="noopener noreferrer">
            <div class="creates-box-main-container">
              <h3>{create.data.title}</h3>
              <p class="creates-box-description">{create.data.description}</p>
              <div class="creates-box-tags-container">
               {create.data.tags.map((tag) => (
                  <span class="creates-box-tag">#{tag}</span>
                ))}
              </div>
            </div>
            <div class="creates-box-date-container">
              <span class="creates-box-date">
                Published: {create.data.published_date.toLocaleDateString('en-US', { 
                  year: 'numeric', 
                  month: 'short', 
                  day: 'numeric' 
                })}
              </span>
              {create.data.updated_date && (
                <span class="creates-box-date">
                  Updated: {create.data.updated_date.toLocaleDateString('en-US', { 
                    year: 'numeric', 
                    month: 'short', 
                    day: 'numeric' 
                  })}
                </span>
              )}
            </div>
          </a>
        ))}
      </div>
    </div>
  </div>
  <style>
    body {
      display: flow-root;
      height: 100vh;
      background-image: radial-gradient(#555 1px, transparent 1px);
      background-size: 20px 20px;
      font-family: sans-serif;
      overflow: hidden;
      z-index: -1;
    }
    .image-container {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 1;
    }
    .image-container img {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 100%;
      height: auto;
      max-height: 80%;
      object-fit: contain;
      object-position: bottom right; 
    }
    .content {
      position: relative;
      width: 70%;
      height: calc(100vh - 160px);
      margin: 80px auto;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
      overflow-y: auto;
      scrollbar-width: none;
      scroll-snap-type: y mandatory;
      z-index: 2;
    }
    .content::-webkit-scrollbar {
      display: none;
    }
    /* かっこいいセリフ */
    .content-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100vh;
      width: 100%;
      transform: translateY(-120px);
      scroll-snap-align: start;
      scroll-snap-stop: always;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    .content-header-scroll-icon-container {
      content: '';
      position: absolute;
      bottom: 50px;
      width: 50px;
      height: 50px;
      overflow: hidden;
      filter: 
        drop-shadow(1px 0 0 var(--bg))
        drop-shadow(-1px 0 0 var(--bg))
        drop-shadow(0 1px 0 var(--bg))
        drop-shadow(0 -1px 0 var(--bg));
      cursor: pointer;
    }
    :root[data-theme="dark"] .content-header-scroll-icon-container {
      filter: none;
    }
    .content-header-scroll-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      mask-image: url('/images/scroll.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: var(--text);
      animation: arrowAnimation 1.5s ease-in-out infinite;
    }
    @keyframes arrowAnimation {
      0% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
      }
      20% {
        transform: translate(-50%, -50%) translateY(150%);
        opacity: 0;
      }
      40% {
        transform: translate(-50%, -50%) translateY(-150%);
        opacity: 0;
      }
      66% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
      }
      100% {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
      }
    }
    .content-header h2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 15px;
      font-weight: 200 !important;
    }
    .content-header p {
      margin: 0;
      font-weight: 100;
    }
    .content-header h2 span {
      display: inline-block;
    }
    /* 「制作物」のタイトル */
    .creates-inner {
      display: block;
      margin: 60px auto;
      padding: 5px 15px;
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid var(--border);
    }
    /* プロジェクト一覧のコンテナ */
    .creates-container {
      min-height: calc(100vh - 200px);
      scroll-snap-align: start;
      scroll-snap-stop: always;
      padding-bottom: 100px;
    }
    .creates-boxes-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
      gap: 30px;
    }
    .creates-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      color: inherit;
      background-color: rgba(255, 243, 241, 0.5);
      backdrop-filter: blur(3px);
      text-decoration: none;
      border: 1px solid var(--border);
      border-radius: 5px;
      box-sizing: border-box;
    }
    :root[data-theme="dark"] .creates-box {
      background-color: rgba(39, 60, 120, 0.4);
    }
    .creates-box-main-container {
      width: 100%;
      padding: 5px 15px;
      box-sizing: border-box;
    }
    .creates-box h3 {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 5px 0;
      color: var(--bg-gyaku);
      font-size: 1.2rem;
      font-weight: bold;
    }
    .creates-box h3::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: var(--text);
      transform: scaleX(0);
      transform-origin: center;
      transition: all .4s ease-out;
    }
    .creates-box:hover h3::after {
      transform: scaleX(1);
    }
    .creates-box-description {
      color: var(--meta);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    :root[data-theme="dark"] .creates-box-description {
      text-shadow: 0 0 3px #333;
    }
    .creates-box-tags-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 10px;
      width: 100%;
    }
    .creates-box-tag {
      padding: 4px 10px;
      color: var(--accent);
      font-size: 0.8rem;
      background-color: rgba(255, 224, 224, 0.5);
      border-radius: 20px;
    }
    :root[data-theme="dark"] .creates-box-tag {
      background-color: rgba(82, 98, 147, 0.5);
    }
    .creates-box-date-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      padding: 0 15px;
      border-top: 1px solid var(--border);
      background-color: rgba(103, 103, 103, 0.2);
      box-sizing: border-box;
    }
    .creates-box-date {
      padding: 5px 0;
      color: var(--meta);
      font-size: 0.7rem;
    }
    :root[data-theme="dark"] .creates-box-date {
      text-shadow: 0 0 3px #333;
    }
    @media (max-width: 768px) {
      .content {
        width: 80%;
      }
    }
    @media (max-width: 480px) {
      .content {
        width: 90%;
      }
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // ランダムなテキスト
      if (Math.random() < 0.5) {
        document.querySelector('.content-header h2').textContent = 'ひとつひとつでいいからね';
        document.querySelector('.content-header p').textContent = 'One step at a time.';
      } else {
        document.querySelector('.content-header h2').textContent = '限界なんて、ココにはないよ';
        document.querySelector('.content-header p').textContent = 'Here, limits fall silent.';
      }
      // scroll-iconのイベントリスナ
      document.querySelector('.content-header-scroll-icon-container').addEventListener('click', () => {
        document.querySelector('.content').scrollTo({
          top: document.querySelector('.creates-container').offsetTop,
          behavior: 'smooth'
        });
      })
    });
  </script>
</Layout>