---
const { slug, title, tags, date, excerpt } = Astro.props;
---

<a href={`/blog/${slug}`} class="blog-post-item">
  <div class="meta">
    <time class="date">{date}</time>
    {tags.length > 0 && (
      <div class="tags">
        {tags.map((tag: string) => (
          <span
            class="post-tag"
            onclick={`event.preventDefault(); window.location.href='/blog/tag/${encodeURIComponent(tag)}'`}
            role="link"
            tabindex="0"
          >
            {tag}
          </span>
        ))}
      </div>
    )}
  </div>
  <h3>{title}</h3>
  {excerpt && (
    <p class="excerpt">{excerpt}</p>
  )}
</a>

<style>
  .blog-post-item {
    --cut: 3rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    position: relative;
    width: 100%;
    padding: 3rem 1rem 1rem;
    background: rgb(from var(--bg-mild) r g b / 0.5);
    backdrop-filter: blur(1px);
    color: var(--text);
    text-decoration: none;
    clip-path: polygon(
      var(--cut) 0%,        /* 左上カット */
      100% 0%,
      100% calc(100% - var(--cut)),  /* 右下カット */
      calc(100% - var(--cut)) 100%,
      0% 100%,
      0% var(--cut)
    );
  }

  .blog-post-item h3 {
    width: fit-content;
    color: var(--text);
    text-decoration: none;
    background: linear-gradient(currentcolor, currentcolor) left bottom / 100% 2px no-repeat,
      linear-gradient(#f6d893, #f6d893) right 60% / 0 .8em no-repeat;
    transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .blog-post-item:hover h3 {
    background-position: right bottom, left 60%;
    background-size: 0 2px, 100% .8em;
  }
  :root[data-theme="dark"] .blog-post-item h3 {
    background: linear-gradient(currentcolor, currentcolor) left bottom / 100% 2px no-repeat,
      linear-gradient(#6088C6, #6088C6) right 60% / 0 .8em no-repeat;
  }
  :root[data-theme="dark"] .blog-post-item:hover h3 {
    background-position: right bottom, left 60%;
    background-size: 0 2px, 100% .8em;
  }

  .meta {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
    padding: 1px;
    font-size: 0.9rem;
    text-wrap: nowrap;
    color: rgb(from var(--text) r g b / .5);
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }

  .tags .post-tag {
    position: relative;
    padding: 4px 8px;
    background: rgb(from var(--accent) r g b / 0.1);
    color: var(--text);
    text-decoration: none;
    font-style: italic;
    border: 1px solid var(--accent);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .tags .post-tag::before {
    content: '#';
    color: var(--accent);
  }
  .tags .post-tag:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(from var(--accent) r g b / 0.1);
    transition: all 0.3s ease;
  }
  .tags .post-tag:hover {
    background: rgb(from var(--accent) r g b / 0.2);
  }
  .tags .post-tag:hover::after {
    height: 100%;
  }

  .date {
    text-align: left;
  }

  .excerpt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    opacity: .7;
  }
</style>