---
import type { Page } from 'astro';
import prevIcon from '../assets/images/prevIcon.svg';
import nextIcon from '../assets/images/nextIcon.svg';

interface Props {
  page: Page;
}

const { page } = Astro.props;
---
{page && page.lastPage > 1 && (
  <nav class="pagination">
    {page.url.prev ? (
      <a href={page.url.prev} class="page-link prev" rel="prev">
        <div class="arrow-icon" style={`--icon: url(${prevIcon.src});`}></div>
        <span>Prev</span>
      </a>
    ) : (
      <span class="placeholder"></span>
    )}

    <span class="page-info" aria-current="page">
      {page.currentPage}<span class="separator"> ／ </span>{page.lastPage}
    </span>

    {page.url.next ? (
      <a href={page.url.next} class="page-link next" rel="next">
        <span>Next</span>
        <div class="arrow-icon" style={`--icon: url(${nextIcon.src});`}></div>
      </a>
    ) : (
      <span class="placeholder"></span>
    )}
  </nav>
)}
<style>
  .pagination {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0 80px;
    height: 1.1rem;
  }
  .pagination a {
    -webkit-user-select: none;
    user-select: none;
  }
  .pagination span {
    -webkit-user-select: none;
    user-select: none;
  }
  .page-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .pagination .page-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--link);
    text-decoration: none;
    font-size: 1.1em;
  }
  .pagination .page-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--link);
    transform: scaleY(0.5);
    transform-origin: bottom;
    transition: width 0.3s ease;
  }
  .pagination .page-link:hover::before {
    width: 100%;
    background-color: var(--link);
  }
  .pagination .page-link.prev {
    position: absolute;
    left: 15%;
  }
  .pagination .page-link.next {
    position: absolute;
    right: 15%;
  }
  .separator {
    padding: 0 0.5rem;
  }
  .arrow-icon {
    height: 0.8rem;
    aspect-ratio: 1 / 1;
    mask-image: var(--icon);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--link);
  }

  @media (max-width: 767px) {
    .pagination .prev {
	    left: 5%;
    }
    .pagination .next {
	    right: 5%;
    }
  }
</style>