---
const siteTitle = import.meta.env.SITE_TITLE;
const { pageTitle, ogTitle, ogDescription, ogUrl } = Astro.props;
const siteUrl = Astro.site ? Astro.site.toString().replace(/\/$/, '') : 'https://coiluck.moe';
const OGImage = new URL("/images/ogp.png", siteUrl).toString();
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="革命学舎 | blog" href="/rss.xml" />
    <title>{siteTitle}{pageTitle && ` | ${pageTitle}`}</title>
    <meta property="og:title" content={`${siteTitle} | ${ogTitle || pageTitle}`} />
    <meta property="og:description" content={ogDescription || '革命学舎'} />
    <meta property="og:url" content={ogUrl || Astro.url.toString()} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={OGImage} />
    <meta property="og:site_name" content={siteTitle} />
    <meta name="twitter:card" content="summary" />
  </head>
  <body>
      <slot />
  </body>
</html>

<style>
  @font-face {
    font-family: 'mamelon3.5';
    src: url('/Mamelon-3.5HiRegular.woff2') format('woff2');
  }
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'mamelon3.5', sans-serif;
    background-color: #eee;
  }
  * {
    font-family: 'mamelon3.5', sans-serif;
  }
  html {
    min-height: 100vh;
  }
</style>