---
const siteTitle = import.meta.env.SITE_TITLE;
const { pageTitle, ogTitle, ogDescription, ogUrl } = Astro.props;
const siteUrl = Astro.site ? Astro.site.toString().replace(/\/$/, '') : 'https://coiluck.moe';
const OGImage = new URL("/images/ogp.png", siteUrl).toString();
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="革命学舎 | blog" href="/rss.xml" />
    <title>{siteTitle}{pageTitle && ` | ${pageTitle}`}</title>
    <meta property="og:title" content={`${siteTitle} | ${ogTitle || pageTitle}`} />
    <meta property="og:description" content={ogDescription || '革命学舎'} />
    <meta property="og:url" content={ogUrl || Astro.url.toString()} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={OGImage} />
    <meta property="og:site_name" content={siteTitle} />
    <meta name="twitter:card" content="summary" />

    <style>
      @font-face {
        font-family: 'mamelon3.5';
        src: url('/Mamelon-3.5HiRegular.woff2') format('woff2');
        font-display: swap;
      }
      :root {
        --primary: #1a2a4f;
        --accent: #ff7f7e;
        --text-dark: #0a0f1e;
        /* ここから変わる部分 */
        --bg: #fff3f1;
        --bg-gyaku: #0a0f1e;
        --text: #1a2a4f;
        --border: #888;
        --link: #0066cc;
        --meta: #666;
      }
      :root[data-theme="dark"] {
        --bg: #0a0f1e;
        --bg-gyaku: #fff3f1;
        --text: #fff3f1;
        --border: #2a3a5f;
        --link: #6088C6;
        --meta: #909090;
      }
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: var(--bg);
      }
      * {
        font-family: 'mamelon3.5', 'Noto Sans JP', sans-serif;
      }
      html {
        min-height: 100vh;
      }
      body {
        background-color: var(--bg);
        color: var(--text);
        transition: all 0.5s;
      }
      body.loading {
        transition: none !important;
      }
    </style>
  </head>
  <body class="loading">
    <script is:inline>
      function setTheme () {
        const storedTheme = localStorage.getItem('theme');
        
        if (storedTheme) {
          document.documentElement.setAttribute('data-theme', storedTheme);
        } else {
          const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          console.log(prefersDark)
          document.documentElement.setAttribute('data-theme', prefersDark ? 'dark' : 'light');
        }
      };
      setTheme();
    </script>

    <slot />

    <script is:inline>
      window.onload = () => {
        document.body.classList.remove('loading');
      };
    </script>
  </body>
</html>